// ---------------------------------------------------------------------------------
// _header.scss
// ---------------------------------------------------------------------------------

.l-header {
    position: fixed;
    padding: 29px 20px;
    height: 60px;
    z-index: 10;

    &__img {
        width: 96.7px;
    }
}