// ---------------------------------------------------------------------------------
// _secFAQ.scss
// ---------------------------------------------------------------------------------
@use '../../foundation/base';

.p-secFAQ {
    padding: 40px 0 50px;

    @include base.mq(pc) {
        padding: 60px 0 70px;
    }

    &__list {
        margin-top: 30px;

        &__ctn {
            border-bottom: 1px solid var(--color-lightGray);

            &__question {
                position: relative;
                display: grid;
                grid-template-columns: 40px 1fr 19px;
                padding: 19px 0 20px;
                font-size: base.p2r(15);
                line-height: calc(25.5 / 15);

                @include base.mq(pc) {
                    font-weight: 900;
                }
            }

            &__symbol {
                display: block;
                flex-shrink: 0;
                margin-right: 16px;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 700;
                font-size: base.p2r(26);
                line-height: calc(29.9 / 26);
                color: var(--color-mainPink);
            }

            &__arrow {
                display: block;
                width: 12px;
                align-self: center;
                transition: transform .3s ease-out;

                &--reverse {
                    transform: scaleY(-1);
                }
            }

            &__answer {
                overflow: hidden;
            }

            &__answerInner {
                display: grid;
                grid-template-columns: 40px 1fr;
                margin-bottom: 3px;
                font-weight: 900;
                font-size: base.p2r(15);
                line-height: calc(26 / 15);
                transition: height .5s;
            }
        }
    }
}