// ---------------------------------------------------------------------------------
// _secStudio.scss
// ---------------------------------------------------------------------------------
@use '../../foundation/base';

@mixin swiper_button {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100px;
    z-index: 1;

    @include base.mq(pc) {
        height: 60px;
        width: 60px;
    }

    &:before {
        position: absolute;
        display: block;
        inset: 0;
        content: '';
        background-repeat: no-repeat;
        background-size: 7px auto;
        background-position: center;

        @include base.mq(pc) {
            background-size: 9px auto;

        }
    }
}

.p-secStudio {
    padding: 40px 0 20px;

    @include base.mq(pc) {
        padding: 60px 0 30px;
    }

    &__swiperOuter {
        position: relative;
        margin-top: 30px;

        .swiper-button-prev {
            @include swiper_button;
            left: 0;
            transform: translate(-50%, -50%);

            &:before {
                background-image: url(../img/navigate_before.png);
            }
        }

        .swiper-button-next {
            @include swiper_button;
            right: 0;
            transform: translate(50%, -50%);

            &:before {
                background-image: url(../img/navigate_next.png);
            }
        }
    }

    .swiper-pagination {
        margin-top: 17px;
        display: flex;
        justify-content: center;
        column-gap: 8px;

        .swiper-pagination-bullet {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background-color: #EAEAEA;

            &-active {
                background-color: var(--color-mainPink);
            }
        }
    }
}