// ---------------------------------------------------------------------------------
// _secTrainer.scss
// ---------------------------------------------------------------------------------
@use '../../foundation/base';

.p-secTrainer {
    &__waveTop {
        margin-bottom: -2px;
    }

    &__inner {
        padding: 40px 0 40px;
        background-color: var(--color-mainPink);
    }

    &__cat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;

        &__btn {
            padding-bottom: 10px;
            font-weight: 700;
            line-height: calc(18.4 / 16);
            color: white;
            text-align: center;

            &:has(input:checked) {
                border-bottom: 3px solid white;
            }

            @include base.mq(pc) {
                padding-bottom: 20px;
                font-size: base.p2r(18);
            }

            input {
                display: none;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
        gap: 15px;
        margin-top: 20px;
    }

    &__box {
        display: none;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;

        &__text {
            padding: 20px;
            font-size: base.p2r(14);
            font-weight: 700;
            line-height: calc(22.4 / 14);

            @include base.mq(pc) {
                font-size: base.p2r(15);
                line-height: calc(25.5 / 15);
            }
        }
    }

    &__waveBottom {
        margin-top: -2px;
    }
}

// 選択されたカテゴリーのメンバーのみ表示。
.p-secTrainer__cat:has(input#trainer:checked)~.p-secTrainer__grid .p-secTrainer__box--trainer {
    display: block;
}

.p-secTrainer__cat:has(input#staff:checked)~.p-secTrainer__grid .p-secTrainer__box--staff {
    display: block;
}