// ---------------------------------------------------------------------------------
// _util_common.scss
// ---------------------------------------------------------------------------------
.u-wrapper {
    padding: 0 30px;
    max-width: 1170px;
    margin: 0 auto;
}